<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>io.defn.fava</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/fava</string>
      <string>cleartype.beancount</string>
      <string>personal.beancount</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/bogdan/sandbox/accounting</string>
    <key>StandardErrorPath</key>
    <string>/usr/local/var/log/fava.log</string>
    <key>StandardOutPath</key>
    <string>/usr/local/var/log/fava.log</string>
    <key>RunAtLoad</key>
    <true/>
  </dict>
</plist>
